@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


#messages {
  margin-top: 12px;
}

.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.message .author {
  font-weight: bold;
  text-align: end;
  padding-right: 0.5rem;
}

.message .payload {
  margin-left: 0.5rem;
}

.message .timestamp {
  color: #999;
  margin-left: auto;
}
